---
import type { FragmentOf } from 'gql.tada';
import { formatVideoDuration } from '~/lib/formatters';
import { EpisodeFragment } from './[chapterSlug]/[episodeSlug]/_graphql';
import { readFragment } from 'gql.tada';
import s from './_style.module.css';
import { Image } from 'astro:assets';
import { buildUrlForUserGuideEpisode } from '~/lib/datocms/gqlUrlBuilder/userGuideEpisode';

type Props = {
  episode: FragmentOf<typeof EpisodeFragment>;
};

const episode = readFragment(EpisodeFragment, Astro.props.episode);
---

<div class={s.chapterItem}>
  <div class={s.itemVideo}>
    <a href={buildUrlForUserGuideEpisode(episode)}>
      <Image
        src={`${episode.asset.video.thumbnailUrl}?time=${episode.thumbTimeSeconds}`}
        inferSize
        widths={[300, 600]}
        sizes="300px"
        alt={episode.title}
        style={{
          background: `url(${episode.asset.video.blurUpThumb})`,
          backgroundSize: 'cover',
          color: 'transparent',
        }}
      />
    </a>
  </div>
  <a href={buildUrlForUserGuideEpisode(episode)}>
    <h4>{episode.title}</h4>
    <div class={s.videoDuration}>
      {formatVideoDuration(episode.asset.video.duration)}
    </div>
  </a>
</div>
