---
import { Svg } from '~/components/Svg';
import Tooltip from '~/components/Tooltip/Tooltip.astro';
import s from '../_style.module.css';
import { formatExtra, formatLimitRaw } from './planLimitsHelpers';
import { HintFragment } from '../_graphql';
import type { FragmentOf } from 'gql.tada';
import { type RawApiTypes } from '@datocms/dashboard-client';
import CheckOrNope from './CheckOrNope.astro';

type Props = {
  hints: FragmentOf<typeof HintFragment>[];
  freePlan: RawApiTypes.PerOwnerPricingPlan;
  proPlan: RawApiTypes.PerOwnerPricingPlan;
};

const { hints, freePlan, proPlan } = Astro.props;
---

<table class={s.fTable}>
  <thead class={s.fReducedHead}>
    <th class={s.fReducedHeadTitle}>Plan limits & overages</th>
    <th class={s.fReducedHeadPlan}>Free plan</th>
    <th class={s.fReducedHeadPlan}>Professional plan</th>
  </thead>
  <tbody>
    {
      [
        'sites',
        'sandbox_environments',
        'users',
        'item_types',
        'locales',
        'items',
        'traffic_bytes',
        'cda_api_calls',
        'cma_api_calls',
        'mux_streaming_seconds',
        'support_level',
        'uploadable_bytes',
        'history_retention_days',
        'indexable_pages',
      ].map((limitId, i) => {
        const hint = hints.find((h) => h.apiId === limitId)!;
        const freePlanLimit = freePlan.attributes.limits.find((l) => l.id === limitId)!;
        const proPlanLimit = proPlan.attributes.limits.find((l) => l.id === limitId)!;
        const formattedLimitValue = formatLimitRaw(proPlanLimit);

        return (
          <tr class:list={[s.fTableFeature, i % 2 === 0 && s.fTableFeatureOdd]}>
            <th class={s.fTableFeatureName}>
              <div class={s.fTableFeatureNameSplit}>
                <div class={s.fTableFeatureNameName}>{hint.name} </div>
                {hint.description && (
                  <Tooltip
                    class={s.fTableFeatureNameInfo}
                    tooltipClass={s.fTableFeatureNameInfoHint}
                  >
                    {' '}
                    <Svg name="icons/regular/info-circle" />
                    <div slot="tooltip">{hint.description}</div>
                  </Tooltip>
                )}
              </div>
            </th>
            <td class={s.fTableFeaturePlan}>{formatLimitRaw(freePlanLimit)}</td>

            <td class={s.fTableFeaturePlan}>
              {typeof formattedLimitValue === 'boolean' ? (
                <CheckOrNope value={formattedLimitValue} />
              ) : (
                formattedLimitValue
              )}
              {'extra_packet_amount' in proPlanLimit && proPlanLimit.extra_packet_amount && (
                <div class={s.extra}>{formatExtra(proPlanLimit)}</div>
              )}
            </td>
          </tr>
        );
      })
    }
  </tbody>
</table>
