---
import { Svg } from '~/components/Svg';
import s from './style.module.css';

const apps = [
  { id: 'Website', svg: 'svg/illustrations/website' },
  { id: 'Chatbot', svg: 'svg/illustrations/chatbot' },
  { id: 'App', svg: 'svg/illustrations/mobile' },
];

const people = [
  { role: 'Developer', image: 'p2.png' },
  { role: 'Marketer', image: 'p3.png' },
  { role: 'Copywriter', image: 'p5.png' },
];
---

<div class={s.root}>
  <div class={s.inner}>
    <div class={s.backend}>
      <div class={s.backendInner}>
        <Svg name="svg/illustrations/content-editors2" />
        <div class={s.backendTitle}>Backend for editors</div>
        <div class={s.features}>
          <div class={s.feature}>Centralized hub</div>
          <div class={s.feature}>Fully customizable schema</div>
          <div class={s.feature}>Extensible interface</div>
        </div>
      </div>
    </div>
    <div class={s.center}>
      <svg viewBox="0 0 100 267" preserveAspectRatio="none" class:list={[s.lines, s.linesH]}>
        <g>
          <path
            d="M89,113 C89,52.3093004 11,81.2309828 11,15"
            transform="translate(50.000000, 64.000000) rotate(-90.000000) translate(-50.000000, -64.000000) "
          ></path>
          <path
            d="M89,252 C89,191.3093 11,220.230983 11,154"
            transform="translate(50.000000, 203.000000) scale(1, -1) rotate(-90.000000) translate(-50.000000, -203.000000) "
          ></path>
          <line x1="99.6357046" y1="134" x2="1" y2="133.5"></line>
        </g>
      </svg>
    </div>
    <div class={s.apis}>
      <div class={s.api}>
        <div class={s.apiInner}>
          <Svg name="svg/illustrations/graphql-api" /> GraphQL Content API
        </div>
      </div>
      <div class={s.api}>
        <div class={s.apiInner}>
          <Svg name="svg/illustrations/image-api" /> Images API
        </div>
      </div>
      <div class={s.api}>
        <div class={s.apiInner}>
          <Svg name="svg/illustrations/video-encoding" /> Video streaming API
        </div>
      </div>
    </div>
    <div class={s.linesVContainer}>
      <svg viewBox="0 0 357 86" class:list={[s.lines, s.linesV]}>
        <g>
          <line
            x1="178.5"
            y1="85.5"
            x2="178.5"
            y2="0.5"
            transform="translate(178.5000, 43.000000) scale(1, -1) translate(-178.5000, -43.000000) "
          ></line>
          <path
            d="M2.5,1 C87.5,1 2.9006892,85 87.5,85"
            transform="translate(45.000000, 43.000000) scale(-1, -1) rotate(-90.000000) translate(-45.000000, -43.000000) "
          ></path>

          <path
            d="M354.5,85 C269.900689,85 354.5,1 269.5,1"
            transform="translate(312.000000, 43.000000) scale(-1, 1) rotate(-90.000000) translate(-312.000000, -43.000000) "
          ></path>
        </g>
      </svg>
    </div>
    <div class={s.center}></div>
    <div class={s.linesVContainer}>
      <svg viewBox="0 0 357 86" class:list={[s.lines, s.linesV]}>
        <g>
          <line
            x1="178.5"
            y1="0.5"
            x2="178.5"
            y2="85.5"
            transform="translate(178.5000, 43.000000) scale(1, -1) translate(-178.5000, -43.000000) "
          ></line>
          <path
            d="M87.5,85 C2.9006892,85 87.5,1 2.5,1"
            transform="translate(45.000000, 43.000000) scale(-1, -1) rotate(-90.000000) translate(-45.000000, -43.000000) "
          ></path>
          <path
            d="M269.5,1 C354.5,1 269.900689,85 354.5,85"
            transform="translate(312.000000, 43.000000) scale(-1, 1) rotate(-90.000000) translate(-312.000000, -43.000000) "
          ></path>
        </g>
      </svg>
    </div>
    <div>
      <div class={s.people}>
        {
          people.map((person) => (
            <div class={s.person}>
              <div class={s.personIcon}>
                <img loading="lazy" src={`/images/faces/${person.image}`} />
              </div>
              <div class={s.personRole}>{person.role}</div>
            </div>
          ))
        }
      </div>
    </div>
    <div class={s.center}></div>
    <div>
      <div class={s.apps}>
        {
          apps.map((app) => (
            <div class={s.app}>
              <div class={s.appIcon}>
                <Svg name={app.svg} />
              </div>
              <div class={s.appLabel}>{app.id}</div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</div>
