---
import { Wrapper } from '~/components/Wrapper';
import s from './style.module.css';
import Feature from './Feature.astro';
import StatusBadge from './StatusBadge.astro';
import NewsletterForm from './NewsletterForm.astro';
---

<div class:list={[s.footerBg, Astro.slots.has('finalCta') ? s.cta : s.noCta]} data-datocms-noindex>
  <slot name="finalCta" />
  <div class={s.footerRoot}>
    <Wrapper>
      <div class={s.footerInnerRoot}>
        <div class={s.cols}>
          <div class={s.col}>
            <div class={s.group}>
              <div class={s.groupTitle}>Status</div>
              <div class={s.groupLinks}>
                <div class={s.groupLink}>
                  <StatusBadge />
                </div>
              </div>
            </div>

            <div class={s.monoLink}>
              <a href="/product">Product</a>
            </div>

            <div class={s.group}>
              <div class={s.groupTitle}>Team</div>
              <div class={s.groupLinks}>
                <div class={s.groupLink}>
                  <a href="/team/best-cms-for-developers">For developers</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/team/cms-digital-marketing">For digital marketers</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/team/content-creators">For content creators</a>
                </div>
              </div>
            </div>

            <div class={s.monoLink}>
              <a href="/pricing">Pricing</a>
            </div>

            <div class={s.monoLink}>
              <a href="/support">Support</a>
            </div>

            <div class={s.monoLink}>
              <a href="/enterprise-headless-cms">DatoCMS for Enterprise</a>
            </div>
          </div>
          <div class={s.col}>
            <div class={s.group}>
              <div class={s.groupTitle}>Product & Features</div>
              <div class={s.groupLinks}>
                <Feature
                  title="Worldwide CDN"
                  keyword="Fastest headless CMS"
                  href="/features/worldwide-cdn"
                />

                <Feature
                  title="GraphQL Content API"
                  keyword="Headless CMS Graphql"
                  href="/features/headless-cms-graphql"
                />

                <Feature title="Images API" keyword="Images API" href="/features/images-api" />

                <Feature title="Video API" keyword="Video API" href="/features/video-api" />

                <Feature
                  title="Multi-language"
                  keyword="Headless CMS multi language"
                  href="/features/headless-cms-multi-language"
                />

                <Feature
                  title="Dynamic layouts"
                  keyword="Dynamic layouts CMS"
                  href="/features/dynamic-layouts"
                />

                <Feature
                  title="Content integrity"
                  keyword="Content integrity CMS"
                  href="/features/data-integrity"
                />

                <Feature title="Workflows" keyword="Workflow CMS" href="/features/workflow-cms" />

                <Feature
                  title="Real-time updates"
                  keyword="Real-time API"
                  href="/features/real-time-api"
                />

                <Feature
                  title="Structured text"
                  keyword="Structured content CMS"
                  href="/features/structured-content-cms"
                />
              </div>
            </div>
          </div>
          <div class={s.col}>
            <div class={s.group}>
              <div class={s.groupTitle}>Resources</div>
              <div class={s.groupLinks}>
                <div class={s.groupLink}>
                  <a href="/product-updates">Product updates</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/docs">Documentation</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/tech-partners">Technology partners</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/partners">Solution partners</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/blog">Blog</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/how-to-datocms">How To DatoCMS</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/academy">Academy</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/user-guides">User Guides</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/glossary">Glossary</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/contact">Contact sales</a>
                </div>
              </div>
            </div>
          </div>
          <div class={s.col}>
            <div class={s.group}>
              <div class={s.groupTitle}>Technologies</div>
              <div class={s.groupLinks}>
                <div class={s.groupLink}>
                  <a href="/cms/nextjs-cms" class={s.extraLink}>Next.js</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/cms/nuxtjs-cms" class={s.extraLink}>Nuxt.js</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/cms/react-cms" class={s.extraLink}>React</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/cms/svelte-cms" class={s.extraLink}>Svelte</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/cms/vue-js-cms" class={s.extraLink}>Vue.js</a>
                </div>
              </div>
            </div>
            <div class={s.group}>
              <div class={s.groupTitle}>Compare DatoCMS</div>
              <div class={s.groupLinks}>
                <div class={s.groupLink}>
                  <a href="/compare/datocms-vs-contentful" class={s.extraLink}>vs Contentful</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/compare/datocms-vs-sanity" class={s.extraLink}>vs Sanity</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/compare/datocms-vs-storyblok" class={s.extraLink}>vs Storyblok</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/compare/datocms-vs-strapi" class={s.extraLink}>vs Strapi</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/compare/datocms-vs-wordpress" class={s.extraLink}>vs Wordpress</a>
                </div>
              </div>
            </div>
          </div>
          <div class={s.col}>
            <div class={s.group}>
              <div class={s.groupTitle}>Company</div>
              <div class={s.groupLinks}>
                <div class={s.groupLink}>
                  <a href="/company/about">About</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/company/brand-assets">Brand assets</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/security">Security</a>
                </div>
                <div class={s.groupLink}>
                  <a href="https://community.datocms.com">Community Forum</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/slack">Slack Channel</a>
                </div>
                <div class={s.groupLink}>
                  <a href="https://twitter.com/datocms">Twitter</a>
                </div>
              </div>
            </div>

            <div class={s.group}>
              <div class={s.groupTitle}>Sitemaps</div>
              <div class={s.groupLinks}>
                <div class={s.groupLink}>
                  <a href="/internal/sitemap-static">Main pages</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/internal/sitemap-blog">Blog</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/internal/sitemap-docs">Documentation</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/internal/sitemap-marketplace">Marketplace</a>
                </div>
                <div class={s.groupLink}>
                  <a href="/internal/sitemap-product-updates">Product updates</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </Wrapper>
    <NewsletterForm />
    <div class={s.finalFooter}>
      <Wrapper>
        <div class={s.finalLinks}>
          <a href="/legal/privacy-policy" class={s.finalLink}>Privacy policy</a>
          <a href="/legal/cookie-policy" class={s.finalLink}>Cookie policy</a>
          <a href="/legal/gdpr" class={s.finalLink}>GDPR Compliance</a>
          <a href="/legal/terms" class={s.finalLink}>Terms of Service</a>
        </div>
        <div class={s.finalLine}>
          <a href="mailto:support@datocms.com">support@datocms.com</a>{' '}
          <span>
            ©{new Date().getUTCFullYear()} Dato srl, all rights reserved
          </span>{' '}
          <span>P.IVA 06969620480</span>
        </div>
      </Wrapper>
    </div>
  </div>
</div>
