---
import { slugify } from '~/lib/slugify';
import s from './style.module.css';
import { Svg } from '~/components/Svg';
import { TargetToggler } from '~/components/TargetToggler';

type Props = {
  name: string;
  active?: boolean;
  panelClass?: string;
};

const { name, active, panelClass } = Astro.props;

const slug = slugify(name);
---

<div class:list={[s.navItem, active && s.navItemActive]} id={slug} data-navbar-navitem>
  <TargetToggler targetId={slug}>
    <div class={s.navButtonWrapper}>
      <button type="button" class={s.navButton} data-navbar-navitem-button>
        {name}
      </button>
      <div class={s.chevron}>
        <Svg name="icons/regular/chevron-down" />
      </div>
    </div>
  </TargetToggler>
  <div class={s.panelWrapper} role="dialog">
    <div class={s.panel} class={panelClass}><slot /></div>
  </div>
</div>
