---
import { Layout } from '~/layouts/Layout';
import s from './_style.module.css';
import { Wrapper } from '~/components/Wrapper';
import { LogosBar } from '~/components/LogosBar';
import { Form } from './_Form';
import { Prose } from '~/components/Prose';
import { Space } from '~/components/Space';
---

<Layout seo={[]}>
  <Fragment slot="head">
    <title>Share your Feedback</title>
  </Fragment>
  <div class={s.root}>
    <Wrapper>
      <div class={s.rootInner}>
        <div class={s.intro}>
          <div class={s.introKicker}>We’d love to hear from you!</div>
          <div class={s.introTitle}>Share Your Feedback</div>
          <Prose class={s.introBody}>
            <p>
              Whether you have a quick thought to share, an idea for improvement, or want to discuss
              your experience with DatoCMS, we’re all ears.
            </p>

            <p>Your insights help us shape the product and make it even better.</p>

            <p>Fill out the form, and we’ll review your feedback as soon as possible.</p>

            <p>
              <strong>The more details you provide, the more useful your input will be!</strong>
              {' '}
              It helps us understand your needs better and reduces the back-and-forth.
            </p>
          </Prose>

          <Space top={1}>
            <p class={s.box}>
              <strong>Want to chat?</strong> Book a 30-minute call with our designer to share your experience
              directly. <a href="/">Book a call</a>
            </p>

            <p class={s.box}>
              <strong>Want to be part of something bigger?</strong> Join our Research Program, this is
              the best way to help shape the product. <a href="/">Learn more & sign up</a>
            </p>
          </Space>
        </div>
        <div class={s.picker}>
          <Form client:load issueType="sales" />
        </div>
      </div>
    </Wrapper>
  </div>
  <LogosBar
    title="We power experiences for over half a billion users"
    clients={[
      'svg/logos/deutsche-telekom',
      'svg/logos/hashicorp',
      'svg/logos/verizon',
      'svg/logos/polestar',
      'svg/logos/vercel',
    ]}
  />
</Layout>
