---
import { SameLevelNavigation } from '~/components/SameLevelNavigation';
import { Card } from '~/components/Card';
import developersIcon from '~/svg/illustrations/developers-2.svg';
import marketersIcon from '~/svg/illustrations/marketers.svg';
import contentEditorsIcon from '~/svg/illustrations/content-editors2.svg';
import s from './style.module.css';

type Props = {
  currentPersonas: 'developers' | 'marketers' | 'content-creators';
  title: string;
};

const { title, currentPersonas } = Astro.props;
---

<SameLevelNavigation
  top={3}
  title={title}
  subtitle="DatoCMS is a concrete benefit for the whole company. See how DatoCMS can help the entire digital pipeline."
>
  {
    currentPersonas !== 'developers' && (
      <Card
        href="/made-for/developers"
        svgLogoUrl={developersIcon.src}
        title="For developers"
        orientation="horizontal"
      >
        Your business needs a reliable and future-proof infrastructure
        <Fragment slot="below">
          <span class={s.fakeLink}>Read more →</span>
        </Fragment>
      </Card>
    )
  }
  {
    currentPersonas !== 'marketers' && (
      <Card
        href="/"
        svgLogoUrl={marketersIcon.src}
        title="For digital marketers"
        orientation="horizontal"
      >
        Solve complex strategic goals with technology that empowers your team
        <Fragment slot="below">
          <span class={s.fakeLink}>Read more →</span>
        </Fragment>
      </Card>
    )
  }
  {
    currentPersonas !== 'content-creators' && (
      <Card
        href="/made-for/content-creators"
        svgLogoUrl={contentEditorsIcon.src}
        title="For content editors"
        orientation="horizontal"
      >
        Automate SEO and manage content on multiple sites without filing an IT ticket
        <Fragment slot="below">
          <span class={s.fakeLink}>Read more →</span>
        </Fragment>
      </Card>
    )
  }
</SameLevelNavigation>
