---
import { Icon } from 'astro-icon/components';
import { StructuredText } from '@datocms/astro';
import s from './style.module.css';

interface Props {
  items: any[]; // (typeof StructuredText)[] | string[];
  icon: string;
  largeBullet?: boolean;
  style: 'bad' | 'good';
}

const { items, icon, largeBullet, style } = Astro.props;
---

<ul class:list={[s.root, largeBullet && s.isLarge]}>
  {
    items.map((item) => (
      <li class={s.bullet}>
        <div data-style={style} class={s.iconWrapper}>
          <Icon name={icon} />
        </div>
        {typeof item === 'string' ? <p>bullet</p> : <StructuredText data={item} />}
      </li>
    ))
  }
</ul>
