---
import Group from './Group/index.astro';
import GroupItem from './Group/GroupItem.astro';
import Quote from './Quote/index.astro';
import NavItem from './NavItem/index.astro';
import Cta from './Cta/index.astro';
import { Button } from '~/components/Button';
import { Svg } from '~/components/Svg';
import { TargetToggler } from '~/components/TargetToggler';
import { Wrapper } from '~/components/Wrapper';
import s from './style.module.css';
import { ActiveLink } from '~/components/links/ActiveLink';
import { fetchNavbar } from './fetchNavbar';
import { buildUrlForCustomerStory } from '~/lib/datocms/gqlUrlBuilder/customerStory';
import { render as structuredTextToPlainText } from 'datocms-structured-text-to-plain-text';
import { buildUrlForSuccessStory } from '~/lib/datocms/gqlUrlBuilder/successStory';
import { sortBy, sum } from 'lodash-es';
import { buildUrlForShowcaseProject } from '~/lib/datocms/gqlUrlBuilder/showcaseProject';
import { buildUrlForDocGroup } from '~/lib/datocms/gqlUrlBuilder/docGroup';
import { buildUrlForUserGuidesChapter } from '~/lib/datocms/gqlUrlBuilder/userGuidesChapter';
import { formatDate, formatVideoDuration } from '~/lib/formatters';
import { buildUrlForBlogPost } from '~/lib/datocms/gqlUrlBuilder/blogPost';
import { Image } from 'astro:assets';

const isMarketplace = Astro.url.pathname.startsWith('/marketplace');

const [data] = await fetchNavbar(Astro);

const { navigationBar: navbar, partners } = data;

const continentCounters: Record<string, number> = {};

for (const partner of partners) {
  for (const location of partner.locations) {
    continentCounters[location.continent.name] ||= 0;
    continentCounters[location.continent.name]! += 1;
  }
}

const sortedContinents = Object.fromEntries(
  sortBy(Object.entries(continentCounters), ([continent, count]) => -count),
);
---

{
  navbar && (
    <div class={s.root} data-datocms-noindex>
      {isMarketplace && (
        <>
          <div data-marketplace-notice class={s.marketplaceNotice}>
            <Wrapper>
              <strong>🎈 Welcome to the Marketplace</strong> — Explore and discover the ecosystem
              around DatoCMS, and share your own work with the community!
            </Wrapper>
          </div>

          <nav class={s.nav} id="navbar-marketplace-nav">
            <div class={s.logoWrapper}>
              <a href="/" class:list={[s.logo, s.isBlack]}>
                <Svg name="svg/datocms/icon-text/black/black_full_logo_alt" />
              </a>

              <TargetToggler targetId="navbar-marketplace-nav">
                <button type="button" class={s.hamburger} aria-controls="navList">
                  <Svg name="icons/regular/bars" />
                </button>
              </TargetToggler>
            </div>

            <div class={s.navList}>
              <ActiveLink href="/marketplace" activeClass={s.isActive} class={s.navLink}>
                <span>Featured</span>
              </ActiveLink>
              <ActiveLink
                href="/marketplace/starters"
                match={{ alsoMatchChildPathnames: true }}
                activeClass={s.isActive}
                class={s.navLink}
              >
                <span>Starters</span>
              </ActiveLink>
              <ActiveLink
                href="/marketplace/plugins"
                match={{ alsoMatchChildPathnames: true }}
                activeClass={s.isActive}
                class={s.navLink}
              >
                <span>Plugins</span>
              </ActiveLink>
              <ActiveLink
                href="/marketplace/recipes"
                match={{ alsoMatchChildPathnames: true }}
                activeClass={s.isActive}
                class={s.navLink}
              >
                <span>Recipes</span>
              </ActiveLink>
              <ActiveLink
                href="/marketplace/hosting"
                match={{ alsoMatchChildPathnames: true }}
                activeClass={s.isActive}
                class={s.navLink}
              >
                <span>Hosting</span>
              </ActiveLink>
              <ActiveLink
                href="/marketplace/enterprise"
                match={{ alsoMatchChildPathnames: true }}
                activeClass={s.isActive}
                class={s.navLink}
              >
                <span>Enterprise</span>
              </ActiveLink>
            </div>

            <div class={s.navActions}>
              <Button as="a" fs="small" p="tiny" href="/" s="invert">
                ← Back to datocms.com
              </Button>
            </div>
          </nav>
        </>
      )}

      {!isMarketplace && (
        <site-navbar>
          {false && (
            <a href="/webinars/how-to-use-structured-text-on-datocms" data-notice class={s.notice}>
              <Wrapper>
                <strong>
                  📅 Want to learn how to use our new Structured Text field with Next.js?
                </strong>{' '}
                Follow our webinar on Wednesday,{' '}
                {new Date('2021-03-10T18:00:00+01:00').toLocaleTimeString('en-US', {
                  hour: 'numeric',
                  minute: '2-digit',
                  timeZoneName: 'short',
                })}
              </Wrapper>
            </a>
          )}

          <nav class={s.nav} id="navbar-nav">
            <div class={s.logoWrapper}>
              <a href="/" class={s.logo}>
                <Svg name="svg/datocms/icon-text/color/color_full_logo_alt" />
              </a>

              <TargetToggler targetId="navbar-nav">
                <button type="button" class={s.hamburger} aria-controls="navList">
                  <Svg name="icons/regular/bars" />
                </button>
              </TargetToggler>
            </div>

            <div class={s.navList}>
              <NavItem name="Product">
                <Group title="Product">
                  <GroupItem
                    href="/product"
                    title="Meet DatoCMS!"
                    description="Explore all the capabilities of the friendliest Headless CMS in town."
                  />
                  <GroupItem
                    href="/product-updates"
                    title="See what's new"
                    description="Check out the latest releases and updates on our changelog."
                  />
                </Group>
                <Group
                  columns={2}
                  contentColumns={2}
                  title="Features"
                  link="/features"
                  finalCta="Discover all the features"
                >
                  <GroupItem
                    href="/features/headless-cms-graphql"
                    title="GraphQL API"
                    description="See why Headless CMS and GraphQL APIs are a match made in heaven."
                  />
                  <GroupItem
                    href="/features/structured-content-cms"
                    title="Structured text"
                    description="Meet (arguably) the best headless content editor out there."
                  />
                  <GroupItem
                    href="/features/headless-cms-multi-language"
                    title="Localization"
                    description="With i18n out of the box, meet your customers wherever they are."
                  />
                  <GroupItem
                    href="/features/dynamic-layouts"
                    title="Modular Content"
                    description="Check out the dynamic page building experience you’ll fall in love with."
                  />
                </Group>

                <Group title="Who is it for">
                  <GroupItem href="/team/best-cms-for-developers" title="For Web Developers" />
                  <GroupItem href="/team/cms-digital-marketing" title="For Digital Marketers" />
                  <GroupItem href="/team/content-creators" title="For Content Creators" />
                  <GroupItem href="/enterprise-headless-cms" title="For Enterprise" />
                </Group>

                <Group title="Use cases">
                  <GroupItem href="/use-cases/headless-cms-websites" title="Modern Websites" />
                  <GroupItem href="/use-cases/headless-ecommerce" title="eCommerce" />
                  <GroupItem href="/use-cases/headless-cms-publishing" title="Digital Publishing" />
                  <GroupItem
                    href="/use-cases/headless-cms-knowledge-management"
                    title="Knowledge Management"
                  />
                </Group>
                <Cta
                  svgName="svg/illustrations/box-things"
                  title={`Discover DatoCMS in 30"`}
                  description="No signup. No email. No credit card."
                  href="https://try.datocms.com/"
                  cta="Launch the demo"
                />
              </NavItem>

              <NavItem name="Customers">
                <Group
                  columns={2}
                  contentColumns={2}
                  title="Customer chats"
                  link="/customer-stories"
                  finalCta="Read all the chats"
                >
                  {navbar.customerChats.map((item) => (
                    <GroupItem
                      href={buildUrlForCustomerStory(item)}
                      title={item.title}
                      description={structuredTextToPlainText(item.excerpt)}
                      image={item.coverImage?.responsiveImage}
                    />
                  ))}
                </Group>
                <Group
                  title="Wall of love"
                  link="/wall"
                  contentDirection="center"
                  finalCta={`See what they say about us (+100)`}
                >
                  <Quote quote={navbar.wallOfLoveQuote} />
                </Group>
                <Group
                  columns={2}
                  contentColumns={2}
                  title="Enterprise stories"
                  link="/customers"
                  finalCta="Read all the stories"
                >
                  {navbar.enterpriseStories.map((item) => (
                    <GroupItem
                      href={buildUrlForSuccessStory(item)}
                      description={structuredTextToPlainText(item.title)}
                      logoUrl={item.logo.url}
                    />
                  ))}
                </Group>
                <Cta
                  svgName="svg/illustrations/bear-bird"
                  title="Let's connect!"
                  description="We’re here to answer your questions and explore solutions."
                  href="/contact"
                  cta="Schedule a call"
                />
              </NavItem>

              <NavItem name="Partners">
                <Group
                  title="Agency Partner Network"
                  link="/partners"
                  finalCta="Explore our partners"
                >
                  <p data-exclude-mobile>
                    DatoCMS is used by top agencies worldwide: work with our partners to achieve
                    your goals and deliver digital products faster.
                  </p>
                  {Object.entries(sortedContinents).map(([continent, counter]) => (
                    <GroupItem
                      title={`${continent} (${counter})`}
                      href={`/partners?continent=${encodeURIComponent(continent)}`}
                    />
                  ))}
                </Group>

                <Group
                  title="Partner projects"
                  link="/partners/showcase"
                  contentColumns={2}
                  finalCta="Browse all the projects (+250)"
                >
                  {navbar.partnerProjects.map((item) => (
                    <GroupItem
                      href={buildUrlForShowcaseProject(item)}
                      title={item.name}
                      description={item.partner.name}
                      image={item.mainImage.responsiveImage}
                    />
                  ))}
                </Group>

                <Cta
                  svgName="svg/illustrations/faces-2"
                  title="Join the Network!"
                  description="Take advantage of exclusive plans and features, along with a 30% discount for your clients."
                  href="/partner-program"
                  cta="Become an Agency Partner"
                />
              </NavItem>

              <NavItem name="Developers" panelClass={s.developersPanel}>
                <Group title="Documentation" link="/docs" finalCta="Enter the documentation portal">
                  {navbar.docPages.map((item) => (
                    <GroupItem href={buildUrlForDocGroup(item)} title={item.name} />
                  ))}
                </Group>

                <Group title="Help & Community">
                  <GroupItem
                    title="Community Forum"
                    description="Get support, request a feature, see what we're working on"
                    href="https://community.datocms.com"
                  />
                  <GroupItem
                    title="Slack"
                    description="Connect with +3,000 developers using DatoCMS in production"
                    href="/slack"
                  />
                  <GroupItem
                    title="Support"
                    description="Got issues? We're here to help!"
                    href="/support"
                  />
                </Group>

                <Group
                  columns={2}
                  contentColumns={4}
                  title="Popular integration guides"
                  class={s.popularIntegrationsGroup}
                >
                  <a href="/docs/next-js" class={s.integrationsItem}>
                    <Svg name="svg/logos/next-squared" class={s.integrationsImage} />
                    <p class={s.techName}>Next.js</p>
                  </a>

                  <a href="/docs/svelte" class={s.integrationsItem}>
                    <Svg name="svg/logos/svelte-squared" class={s.integrationsImage} />
                    <p class={s.techName}>SvelteKit</p>
                  </a>

                  <a href="/docs/astro" class={s.integrationsItem}>
                    <Svg name="svg/logos/astro-squared" class={s.integrationsImage} />
                    <p class={s.techName}>Astro</p>
                  </a>

                  <a href="/docs/nuxt" class={s.integrationsItem}>
                    <Svg name="svg/logos/nuxt-squared" class={s.integrationsImage} />
                    <p class={s.techName}>Nuxt</p>
                  </a>
                </Group>

                <Group
                  title="Marketplace"
                  link="/marketplace"
                  finalCta="Visit the Marketplace"
                  class={s.marketplaceGroup}
                >
                  <GroupItem
                    href="/marketplace/starters"
                    title="Starters"
                    description="Fully fledged website demos built with DatoCMS"
                  />
                  <GroupItem
                    href="/marketplace/plugins"
                    title="Plugins"
                    description="150+ plugins to expand/customize DatoCMS"
                  />
                  <GroupItem
                    href="/marketplace/recipes"
                    title="Schema Recipes"
                    description="Ready-made structures for your projects"
                  />
                  <GroupItem
                    href="/marketplace/hosting"
                    title="Hosting & Builds"
                    description="Server, serverless, or static? We got you"
                  />

                  <GroupItem
                    href="/marketplace/enterprise"
                    title="Enterprise Apps"
                    description="SSO, custom storage for assets, and more"
                  />
                </Group>
              </NavItem>

              <NavItem name="Resources">
                <Group title="Knowledge base">
                  <GroupItem
                    href="/documentation"
                    title="Documentation"
                    description="API Reference and guides to help you develop with DatoCMS"
                  />
                  <GroupItem
                    href="/academy"
                    title="DatoCMS Academy"
                    description="A deep dive into the concepts around Headless CMS"
                  />
                  <GroupItem
                    href="/product-updates"
                    title="Product Changelog"
                    description="All the details about each product release and update"
                  />
                </Group>

                <Group
                  title="Video Guides"
                  link="/user-guides"
                  finalCta="View all the series"
                  contentColumns={2}
                >
                  {navbar.videoGuides.map((item) => (
                    <GroupItem
                      href={buildUrlForUserGuidesChapter(item)}
                      title={item.title}
                      description={`${item.chapters.length} episodes, ${formatVideoDuration(sum(item.chapters.map((v) => v.asset.video.duration)))}`}
                    >
                      <Fragment slot="image">
                        <div class={s.videoGuideChapters}>
                          {item.chapters.slice(0, 3).map((chapter) => (
                            <Image
                              src={`${chapter.asset.video.thumbnailUrl}?time=${chapter.thumbTimeSeconds}&width=300`}
                              inferSize
                              widths={[300, 100]}
                              sizes="400px"
                              alt={chapter.title}
                              style={{
                                background: `url(${chapter.asset.video.blurUpThumb})`,
                                backgroundSize: 'cover',
                                color: 'transparent',
                                height: 'auto',
                              }}
                            />
                          ))}
                        </div>
                      </Fragment>
                    </GroupItem>
                  ))}
                </Group>

                <Group title="From our blog" finalCta="Read the Blog" link="/blog">
                  {data.blogPosts.map((item) => (
                    <GroupItem
                      href={buildUrlForBlogPost(item)}
                      title={item.title}
                      description={formatDate(item._firstPublishedAt!)}
                    />
                  ))}
                </Group>
              </NavItem>

              <a href="/pricing" class={s.navLink}>
                <span>Pricing</span>
              </a>
            </div>

            <div class={s.navActions}>
              <a href="/contact" class={s.navLink}>
                Contact sales
              </a>
              <div class={s.authActions} data-signed-in="true">
                <Button as="a" p="small" href="https://dashboard.datocms.com/">
                  Enter dashboard
                </Button>
              </div>
              <div class={s.authActions} data-signed-in="false">
                <a href="https://dashboard.datocms.com/login" class={s.navLink} data-exclude-mobile>
                  <span>Log in</span>
                </a>
                <Button as="a" p="small" href="https://dashboard.datocms.com/">
                  Get started
                </Button>
              </div>
            </div>
          </nav>
        </site-navbar>
      )}
    </div>
  )
}

<script>
  import { WebComponent } from '~/lib/WebComponent';
  import { getCookie } from '~/lib/cookies';

  window.customElements.define(
    'site-navbar',
    class SiteNavbar extends WebComponent {
      signedInEl!: HTMLElement;
      notSignedInEl!: HTMLElement;

      parsedCallback() {
        this.handleAuth();
        this.handleNavItems();
      }

      handleAuth() {
        this.signedInEl = this.$('[data-signed-in=true]');
        this.notSignedInEl = this.$('[data-signed-in=false]');

        const isSignedIn = getCookie('datoAccountEmail');

        (isSignedIn ? this.signedInEl : this.notSignedInEl).style.display = 'contents';
        (isSignedIn ? this.notSignedInEl : this.signedInEl).remove();
      }

      handleNavItems() {
        const root = this.children[0] as HTMLElement;
        const targetTogglers = this.$$('[data-navbar-navitem] > target-toggler');

        this.on<CustomEvent<{ expanded: boolean }>>(
          root,
          'target-toggler:toggle',
          '[data-navbar-navitem] > target-toggler',
          (event, triggeredToggler) => {
            const togglerExpanded = event.detail.expanded;

            if (!togglerExpanded) {
              return;
            }

            for (const targetToggler of targetTogglers) {
              if (targetToggler !== triggeredToggler) {
                (targetToggler as any).toggle(false);
              }
            }

            const navItem = this.findClosestAncestor({
              startFrom: triggeredToggler,
              upTo: root,
              selector: '[data-navbar-navitem]',
            })!;

            navItem.scrollIntoView({ behavior: 'smooth' });
          },
        );
      }
    },
  );
</script>
