---
import { slugify } from '~/lib/slugify';
import s from './style.module.css';
import { Svg } from '~/components/Svg';
import { TargetToggler } from '~/components/TargetToggler';

type Props = {
  name: string;
};

const { name } = Astro.props;

const slug = slugify(name);
---

<div class={s.navItem} id={slug} data-navbar-navitem>
  <TargetToggler targetId={slug}>
    <button type="button" class={s.navButtonWrapper} data-navbar-navitem-button>
      <div class={s.navButton}>
        {name}
      </div>
      <div class={s.chevron}>
        <Svg name="icons/regular/chevron-down" />
      </div>
    </button>
  </TargetToggler>
  <div class={s.panel} role="dialog">
    <div class={s.panelInner}><slot /></div>
  </div>
</div>
