---
import s from './_style.module.css';

type Props = {
  title: string;
};
---

<li class={s.step}>
  <div class={s.stepMain}>
    <div class={s.stepTitle}>{Astro.props.title}</div>
    <div class={s.stepContent}><slot /></div>
  </div>
</li>
