---
import s from './_style.module.css';
import { Layout } from '~/layouts/Layout';
import { Hero } from '~/components/Hero';
import { Space } from '~/components/Space';
import { Prose } from '~/components/Prose';
import { InterstitialTitle } from '~/components/InterstitialTitle';
import { Wrapper } from '~/components/Wrapper';
import { Button } from '~/components/Button';
import { Journey, Step } from '~/components/Journey';
---

<Layout seo={[]}>
  <Fragment slot="head">
    <title>User research program - DatoCMS</title>
  </Fragment>

  <Hero seoAnalysis={{ keyword: 'research', synonyms: '', relatedKeywords: [] }}>
    <Fragment slot="kicker">Research Program</Fragment>
    <Fragment slot="title">Contribute to the evolution of DatoCMS</Fragment>
    <Fragment slot="subtitle">
      Become a part of the DatoCMS Research Program and be the first to know what we are working on,
      try out innovative concepts, offer your feedback and help optimize DatoCMS for your needs.
    </Fragment>
    <div class={s.heroCta}>
      <Button as="a" href="https://forms.datocms.com/form/W_5PwC3kQy6585D09e4lUA">
        Sign up and share your opinions!
      </Button>
    </div>
  </Hero>

  <Space top={2} bottom={2}>
    <InterstitialTitle style="two">
      How does it work?

      <Fragment slot="below">
        <Space top={1}>
          Register to our Research Program, participate to our studies, get rewarded!
        </Space>
      </Fragment>
    </InterstitialTitle>

    <Wrapper>
      <Journey>
        <Step number="01" title="Register…">
          Take a 2-minute survey to tell us about yourself. We'll match you with the right studies.
        </Step>
        <Step number="02" title="Participate…">
          Get exclusive invitations to our research studies. Join only when it suits you!
        </Step>
        <Step number="03" title="Get rewards!"> Receive gift cards or DatoCMS credits. </Step>
      </Journey>
    </Wrapper>
  </Space>

  <Space top={3}>
    <InterstitialTitle>Frequently Asked Questions</InterstitialTitle>
    <Wrapper>
      <div class={s.faqs}>
        <div class={s.faq}>
          <div class={s.faqQ}>Do I have to be an existing customer to join the panel?</div>
          <div class={s.faqA}>
            <Prose>
              No you don't have to be a current customer. Anyone with an interest in participating
              is welcome to join!
            </Prose>
          </div>
        </div>
        <div class={s.faq}>
          <div class={s.faqQ}>How often will I receive invitations to participate?</div>
          <div class={s.faqA}>
            <Prose>
              We generally reach out less than once per quarter, ensuring we respect your time and
              inbox.
            </Prose>
          </div>
        </div>
        <div class={s.faq}>
          <div class={s.faqQ}>What should I expect after registering for the panel?</div>
          <div class={s.faqA}>
            <Prose>
              After registration, you'll periodically receive invitations to participate in research
              activities tailored to your profile and interests. You have the freedom to accept or
              decline each invitation.
            </Prose>
          </div>
        </div>
        <div class={s.faq}>
          <div class={s.faqQ}>What types of research opportunities can I expect?</div>
          <div class={s.faqA}>
            <Prose>
              Our research involves a variety of activities, including brief online surveys,
              detailed one-on-one interviews, usability tests of websites or products, and
              occasionally other interactive studies.
            </Prose>
          </div>
        </div>
        <div class={s.faq}>
          <div class={s.faqQ}>How is my personal information handled?</div>
          <div class={s.faqA}>
            <Prose>
              We collect only the essential details required to match you with relevant research
              opportunities. We maintain strict confidentiality and prioritize your privacy.
            </Prose>
          </div>
        </div>
        <div class={s.faq}>
          <div class={s.faqQ}>Am I obliged to participate in every activity I'm invited to?</div>
          <div class={s.faqA}>
            <Prose>
              Not at all. Your participation is always voluntary. You have full control over when
              and how often you'd like to engage.
            </Prose>
          </div>
        </div>
      </div>
    </Wrapper>
  </Space>

  <Space top={2} bottom={2}>
    <InterstitialTitle style="two" kicker="Join now">
      Get involved!

      <Fragment slot="below">
        <div class={s.heroCta}>
          <Button as="a" href="https://forms.datocms.com/form/W_5PwC3kQy6585D09e4lUA">
            Sign up and share your opinions!
          </Button>
        </div>
      </Fragment>
    </InterstitialTitle>
  </Space>
</Layout>
