---
import s from './EnterpriseStrip/style.module.css';

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<div class={s.point}>
  <h4 class={s.pointTitle}>{title}</h4>
  <p class={s.pointDescription}>
    {description}
  </p>
</div>
