---
import s from './style.module.css';

type Props = {
  name?: string;
  checked?: boolean;
};
---

<label class={s.switchWrapper}>
  <input {...Astro.props} type="checkbox" class={s.switchInput} />
  <span class={s.switch}><span class={s.switchInner}></span></span>
  <span class={s.switchLabel}><slot /></span>
</label>
