---
import s from './style.module.css';
import type { FragmentOf } from 'gql.tada';
import { PartnerTestimonialQuoteFragment, ReviewQuoteFragment } from '../graphql';
import { SingleQuote } from '../SingleQuote';

interface Props {
  quotes: Array<
    | (FragmentOf<typeof PartnerTestimonialQuoteFragment> & {
        __typename: 'PartnerTestimonialRecord';
      })
    | (FragmentOf<typeof ReviewQuoteFragment> & {
        __typename: 'ReviewRecord';
      })
  >;
}

const { quotes } = Astro.props;
---

<quotes-carousel>
  <div class={s.quotes} style={`--items-count: ${quotes.length}`} data-container>
    <div class={s.quotesInner} data-scroller>
      {
        quotes.map((quote) => (
          <div class={s.quote}>
            <SingleQuote quote={quote} />
          </div>
        ))
      }
    </div>
  </div>
</quotes-carousel>

<script>
  import { WebComponent } from '~/lib/WebComponent';

  window.customElements.define(
    'quotes-carousel',
    class CloneButtonForm extends WebComponent {
      parsedCallback() {
        const container = this.$('[data-container]');
        const scroller = this.$('[data-scroller]');

        if (container.scrollWidth !== container.clientWidth) {
          container.setAttribute('data-animated', 'true');
          container.style.setProperty(
            '--scroll-width',
            `${scroller.scrollWidth - container.clientWidth}`,
          );
        }
      }
    },
  );
</script>
