---
import s from './style.module.css';
import type { FragmentOf } from 'gql.tada';
import { readFragment } from 'gql.tada';
import { DemoFragment } from './graphql';
import { ResponsiveImage } from '~/components/ResponsiveImage';
import { Button } from '~/components/Button';
import { UiChrome } from '~/components/UiChrome';
import { inRange } from 'lodash-es';

interface Props {
  block: FragmentOf<typeof DemoFragment>;
}

const { block: unmaskedBlock } = Astro.props;

const block = readFragment(DemoFragment, unmaskedBlock);
---

<figure>
  <div class={s.demo}>
    <div class={s.demoPreview}>
      <UiChrome title={block.demo.name}>
        <ResponsiveImage
          data={inRange(block.demo.screenshot.width / block.demo.screenshot.height, 1, 2)
            ? block.demo.screenshot.freeFormImage
            : block.demo.screenshot.croppedImage}
        />
      </UiChrome>
    </div>
    <div>
      <div class={s.demoTitle}>{block.demo.name}</div>
      <div class={s.demoDesc}>
        Publish this demo online with just three clicks in a matter of minutes.
      </div>
      <Button
        as="a"
        target="_blank"
        p="small"
        href={`https://dashboard.datocms.com/deploy?repo=${block.demo.githubRepo}`}
      >
        Deploy the demo project
      </Button>
      <img loading="lazy" class={s.techLogo} src={block.demo.technology.logo.url} />
    </div>
  </div>
</figure>
