---
import { Layout } from '~/layouts/Layout';
import s from './_style.module.css';
import { Wrapper } from '~/components/Wrapper';
import { LogosBar } from '~/components/LogosBar';
import { Form } from './_Form';
import { Prose } from '~/components/Prose';
import { Space } from '~/components/Space';
---

<Layout additionalSeo={[]}>
  <Fragment slot="head">
    <title>Contact our Sales team</title>
  </Fragment>
  <div class={s.root}>
    <Wrapper>
      <div class={s.rootInner}>
        <div class={s.intro}>
          <div class={s.introKicker}>Get in touch with us</div>
          <div class={s.introTitle}>
            Contact our <mark>Sales&nbsp;team</mark>
          </div>
          <Prose class={s.introBody}>
            <p>
              Whether you’re a potential user with questions about our product, or are already using
              DatoCMS and have questions about expanding your current package, we’re ready to help.
            </p>

            <p>
              Fill out the form below and one of our sales expert we’ll be in touch as soon as
              possible.
            </p>

            <p>
              <b>
                Filling all the fields helps us giving you a more informed answer with less back and
                forth.
              </b>{' '}
              Also helps you thinking about your project in terms that are useful for us to understand
              what you are up to.
            </p>
          </Prose>

          <Space top={1}>
            <p class={s.box}>
              Need support? Please visit our{' '}
              <a href="/support">Support page</a>.
            </p>

            <p class={s.box}>
              Want to learn more about our self-service plans? Visit our{' '}
              <a href="/pricing">Pricing page</a>.
            </p>
          </Space>
        </div>
        <div class={s.picker}>
          <Form client:load />
        </div>
      </div>
    </Wrapper>
  </div>
  <LogosBar
    title="We power experiences for over half a billion users"
    clients={[
      'svg/logos/deutsche-telekom',
      'svg/logos/hashicorp',
      'svg/logos/verizon',
      'svg/logos/polestar',
      'svg/logos/vercel',
    ]}
  />
</Layout>
