---
import PartnersFilters from '~/components/PartnersFilters';
import PartnersMap from '~/components/PartnersMap';
import sortBy from 'lodash-es/sortBy';
import { Announce } from '~/components/pluginToolkit/Announce'; // TODO change name
import { Hero } from '~/components/Hero';
import { Layout } from '~/layouts/Layout';
import { Space } from '~/components/Space';
import { Wrapper } from '~/components/Wrapper';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { notFoundResponse, avoidAstroTypeCheckBug } from '~/lib/notFoundResponse';
import { query } from './_graphql';
import s from './_style.module.css';

const { page, posts1, posts2, posts3 } = await executeQuery(Astro, query);

if (!page || !posts1 || !posts2 || !posts3) {
  avoidAstroTypeCheckBug(notFoundResponse);
  return notFoundResponse();
}

const posts = [...posts1, ...posts2, ...posts3];

// const countBySlug = posts.reduce((acc, post) => {
//   acc[post.slug] = post._allReferencingShowcaseProjectsMeta.count;
//   return acc;
// }, {});

// const highlightedSlugs = page.highlightedPartners.map((p) => p.slug);

// const ordered = [
//   ...page.highlightedPartners,
//   ...sortBy(
//     posts.filter((p) => !highlightedSlugs.includes(p.slug)),
//     [(x) => -(countBySlug[x.slug] || 0), 'slug'],
//   ),
// ];

// let filteredResults = [];
// const handleFilteredResults = (results) => {
//   filteredResults = results;
// };
---

<Layout additionalSeo={page._seoMetaTags}>
  <Hero>
    <Fragment slot="kicker"> Solution Partners </Fragment>
    <Fragment slot="title">
      Find the perfect Partner to meet <mark>your digital needs</mark>
    </Fragment>
    <Fragment slot="subtitle">
      Our most successful customers work with a Solution Partner to accomplish their goals and ship
      their digital products faster.
    </Fragment>
  </Hero>

  <Wrapper>
    <PartnersMap partners={posts} client:load />
    <Space bottom={1}>
      <Announce href="/partner-program" center>
        <Fragment slot="text">
          <strong>Want to become a DatoCMS Partner?</strong> Learn more about our Partner Program and
          its benefits!
        </Fragment>
      </Announce>
    </Space>
  </Wrapper>

  <Wrapper>
    <!-- TODO: react select -->
    <!-- <PartnersFilters client:load ordered={ordered} onFilteredResults={handleFilteredResults} />
    <div class={s.posts}>
      {
        filteredResults.map((post, i) => (
          <a href={`/partners/${post.slug}`}>
            <a class={s.post}>
              <div class={s.postLogo}>
                <img src={post.logo.url} />
              </div>
              <div class={s.postBody}>
                <div class={s.postTitle}>
                  {post.name}
                  {post.locations.slice(0, 5).map((l) => (
                    <span>{l.emoji}</span>
                  ))}
                  {post.locations.length > 5 && (
                    <span class={s.moreLocations}>+ {post.locations.length - 5} more</span>
                  )}
                </div>
                <div class={s.postDescription}>{post.shortDescription}</div>
              </div>
            </a>
          </a>
        ))
      }
    </div> -->
  </Wrapper>
</Layout>
