---
import { Layout } from '~/layouts/Layout';
import { Bullets } from '~/components/Bullets';
import { Button } from '~/components/Button';
import { DraftModeQueryListener } from '~/components/DraftModeQueryListener';
import { Flag } from '~/components/Flag';
import { Hero } from '~/components/Hero';
import { Svg } from '~/components/Svg';
import { IntegrationsBanner } from '~/components/IntegrationsBanner';
import { Carousel } from '~/components/Carousel';
import { ResponsiveImage } from '~/components/ResponsiveImage';
import { Space } from '~/components/Space';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { notFoundResponse, avoidAstroTypeCheckBug } from '~/lib/notFoundResponse';
import { query } from './_graphql';
import { InlineText } from '~/components/structuredText/InlineText';
import { ensureValidStructuredTextProps } from '@datocms/astro';
import { Wrapper } from '~/components/Wrapper';
import { buildUrlForCustomerStory } from '~/lib/datocms/gqlUrlBuilder/customerStory';
import { buildUrlForUseCasePage } from '~/lib/datocms/gqlUrlBuilder/useCasePage';
import { Card } from '~/components/Card';
import { StripWithContent } from '~/components/StripWithContent';
import s from './_style.module.css';

const { integrations, page, customerStories, useCases } = await executeQuery(Astro, query);

if (!page || integrations.length === 0 || customerStories.length === 0 || useCases.length === 0) {
  avoidAstroTypeCheckBug(notFoundResponse);
  return notFoundResponse();
}
---

<Layout seo={page._seoMetaTags}>
  <Hero>
    <Fragment slot="title">
      <InlineText {...ensureValidStructuredTextProps({ data: page.header })} />
    </Fragment>
    <Fragment slot="subtitle">
      <InlineText {...ensureValidStructuredTextProps({ data: page.subheader })} />
    </Fragment>
    <div class={s.buttonContainer}>
      <Button fs="big" as="a" href="https://try.datocms.com">Launch Demo</Button>
      <Button fs="big" as="a" s="invert" href="/contact">Contact sales</Button>
    </div>
  </Hero>

  <StripWithContent>
    <div class={s.explore}>
      <h2>Everything you need<br />to get you going</h2>
      <p>
        Work with <s>1000s</s> the right balance of features.<br />
        Bell and whistles optional.
      </p>
      <Space top={1}>
        <Button as="a" p="small" s="invert" href="/features">Explore all features</Button>
      </Space>
    </div>
  </StripWithContent>

  <Space bottom={2}>
    <div class={s.pillarsWrapper}>
      {
        page.pillars.map((pillar, index) => {
          return (
            <div class={s.flagContainer}>
              <Flag flip={index % 2 === 0}>
                <Fragment slot="kicker">{pillar.theme}</Fragment>
                <div slot="visual">
                  <ResponsiveImage data={pillar.image.responsiveImage} />
                </div>
                <div slot="title">
                  <InlineText {...ensureValidStructuredTextProps({ data: pillar.title })} />
                </div>
                <article>
                  {pillar.pillarCallout}
                  <Bullets style="bad">
                    <li>
                      <Svg name="icons/regular/check" />
                      <div>
                        <InlineText
                          {...ensureValidStructuredTextProps({ data: pillar.capability1 })}
                        />
                      </div>
                    </li>
                    <li>
                      <Svg name="icons/regular/check" />
                      <div>
                        <InlineText
                          {...ensureValidStructuredTextProps({ data: pillar.capability2 })}
                        />
                      </div>
                    </li>
                    <li>
                      <Svg name="icons/regular/check" />
                      <div>
                        <InlineText
                          {...ensureValidStructuredTextProps({ data: pillar.capability3 })}
                        />
                      </div>
                    </li>
                  </Bullets>
                </article>
              </Flag>
            </div>
          );
        })
      }
    </div>
  </Space>

  <IntegrationsBanner
    bubbles={integrations
      .filter((i) =>
        ['ci', 'static-generator', 'language', 'cdn', 'framework'].includes(
          i.integrationType.slug as string,
        ),
      )
      .slice(0, 30)
      .map((integration) => integration.squareLogo || integration.logo!)}
  >
    <Fragment slot="title">Extensible and integrable by design</Fragment>

    <p>
      Being a API-first <a href="/">headless CMS</a>, <strong>
        DatoCMS easily integrates with any third-party platform or service
      </strong>. DatoCMS is considered to be the best CMS for developers because it offers some of
      the best tools in the market: plugins, webhooks, templates and SDKs to get you started in no
      time. Check them out on our <a
        href="https://github.com/datocms/"
        target="_blank"
        rel="noreferrer"
      >
        official Github page
      </a>
    </p>
  </IntegrationsBanner>

  <Space top={2}>
    <Wrapper>
      <h2 class={s.title}>Trusted by happy teams</h2>
      <Space top={2} bottom={3}>
        <div class={s.teamCards}>
          <Card
            href={'made-for/developers'}
            title="For web developers"
            orientation="horizontal"
            size="large"
            boxed={false}
            boxedVisual={false}
          >
            <Fragment slot="image">
              <Svg name="svg/illustrations/people" />
            </Fragment>
            Stop settling for legacy technologies that slow you down.
          </Card>

          <Card
            href={'made-for/marketers'}
            title="For Digital Marketers"
            orientation="horizontal"
            size="large"
            boxed={false}
            boxedVisual={false}
          >
            <Fragment slot="image">
              <Svg name="svg/illustrations/growing" />
            </Fragment>
            Take control of your content with a unified platform for all channels.
          </Card>

          <Card
            href={'made-for/content-creators'}
            title="For Content Creators"
            orientation="horizontal"
            size="large"
            boxed={false}
            boxedVisual={false}
          >
            <Fragment slot="image">
              <Svg name="svg/illustrations/box-things" />
            </Fragment>
            Aggregate alla your content in one place and go live in seconds.
          </Card>

          <Card
            href={'enterprise'}
            title="For Enterprise Teams"
            orientation="horizontal"
            size="large"
            boxed={false}
            boxedVisual={false}
          >
            <Fragment slot="image">
              <Svg name="svg/illustrations/faces" />
            </Fragment>
            See why 25k+ teams trust DatoCMS from governments to F500.
          </Card>
        </div>
      </Space>
    </Wrapper>
  </Space>

  <Space top={2}>
    <Wrapper>
      <h2 class={s.title}>...to build incredible things...</h2>
      <Space top={2} bottom={3}>
        <div class={s.useCasesCards}>
          {
            useCases.map((item) => (
              <Card
                href={buildUrlForUseCasePage(item)}
                target="_blank"
                title={item.title}
                boxed={false}
                size="large"
              >
                <Fragment slot="image">
                  <ResponsiveImage data={item.heroCustomer.responsiveImage} />
                </Fragment>
                <InlineText {...ensureValidStructuredTextProps({ data: item.subtitle })} />
              </Card>
            ))
          }
        </div>
      </Space>
    </Wrapper>
  </Space>

  <Space top={2}>
    <h2 class={s.title}>...and have a blast doing it.</h2>

    <Space top={1}>
      <div class={s.customerStoryWrapper}>
        <Carousel
          autoScroll
          removeButtons
          loop
          stopOnInteraction={false}
          stopOnMouseEnter
          dragDisable
        >
          {
            customerStories.map((item) => (
              <div class={s.cardWrapper}>
                <Card
                  href={buildUrlForCustomerStory(item)}
                  title={item.title}
                  boxed={false}
                  boxedVisual={false}
                  size="medium"
                  class={s.customerStoryItem}
                >
                  <Fragment slot="image">
                    <ResponsiveImage data={item.coverImage.responsiveImage} priority={true} />
                  </Fragment>
                  <span class={s.fakeLink}>Read more →</span>
                </Card>
              </div>
            ))
          }
        </Carousel>
      </div>
    </Space>
  </Space>

  <DraftModeQueryListener query={query} />
</Layout>
