---
import type { ComponentProps } from 'astro/types';
import { Wrapper } from '~/components/Wrapper';
import { Space } from '~/components/Space';
import s from './style.module.css';

type TopProp = ComponentProps<typeof Space>['top'];
type BottomProp = ComponentProps<typeof Space>['bottom'];

type Props = {
  title?: string;
  subtitle?: string;
  top?: TopProp;
  bottom?: BottomProp;
};

const { title, subtitle, top = 2, bottom } = Astro.props;
---

<Space top={top} bottom={bottom}>
  <Wrapper>
    <section class={s.container}>
      {title && <h2 class={s.title}>{title}</h2>}
      {subtitle && <p class={s.subtitle}>{subtitle}</p>}

      <div class={s.items}>
        <slot />
      </div>
    </section>
  </Wrapper>
</Space>
