---
import { Svg } from '~/components/Svg';
import s from './style.module.css';
import { Markdown } from '~/components/Markdown';
import removeMarkdown from 'remove-markdown';
import { Code } from '~/components/Code';
import type { PropertyOrMethod } from '../manifestTypes';
import { Prose } from '~/components/Prose';

type Props = {
  name: string;
  propertyOrMethod: PropertyOrMethod;
};

const { name, propertyOrMethod } = Astro.props;

const baseUrl = 'https://github.com/datocms/plugins-sdk/blob/master/packages/sdk/';
---

<prose-island>
  <details class={s.hook}>
    <summary class={s.hookExpand}>
      <Svg name="icons/regular/plus" class={s.closedSvg} />
      <Svg name="icons/regular/times" class={s.openSvg} />
      <div class={s.hookName}>
        <span class={s.hookNameName}>
          ctx.{name}{
            propertyOrMethod.type.length > 50
              ? propertyOrMethod.type.startsWith('(')
                ? '(...)'
                : ''
              : propertyOrMethod.type.startsWith('(')
                ? propertyOrMethod.type
                : `: ${propertyOrMethod.type}`
          }
        </span>
        {
          propertyOrMethod.comment?.markdownText && (
            <span class={s.hookNameDesc}>
              {removeMarkdown(propertyOrMethod.comment?.markdownText)}
            </span>
          )
        }
      </div>
    </summary>
    <div class={s.hookBody}>
      <div class={s.hookDescription}>
        <Prose>
          {
            propertyOrMethod.comment?.markdownText && (
              <Markdown of={propertyOrMethod.comment?.markdownText} />
            )
          }
        </Prose>
        <a
          href={`${baseUrl}${propertyOrMethod.location.filePath}#L${propertyOrMethod.location.lineNumber}`}
          target="_blank"
          rel="noreferrer"
          class={s.hookGithub}
        >
          View on Github <Svg name="icons/brands/github" />
        </a>
      </div>
      {
        propertyOrMethod.comment?.example && (
          <div class={s.hookCode}>
            <Code code={propertyOrMethod.comment?.example} language="ts" />
          </div>
        )
      }
    </div>
  </details>
</prose-island>
