---
import s from './style.module.css';

export interface Props {
  currentPage: number;
  totalPages: number;
  baseUrl: string;
}

const { currentPage, totalPages, baseUrl } = Astro.props;

const prevUrl =
  currentPage === 2 ? baseUrl : currentPage > 2 ? `${baseUrl}/p/${currentPage - 1}` : null;
const nextUrl = currentPage < totalPages ? `${baseUrl}/p/${currentPage + 1}` : null;
---

<nav aria-label="Pagination">
  <ul class={s.pagination}>
    {
      prevUrl && (
        <li>
          <a href={prevUrl} class={s.prev}>
            Previous
          </a>
        </li>
      )
    }

    <li>
      <a href={baseUrl} class:list={[s.pageNumber, currentPage === 1 && s.isCurrent]}>1</a>
    </li>

    {
      Array.from({ length: totalPages - 1 }, (_, i) => i + 2).map((page) => (
        <li>
          <a
            href={`${baseUrl}/p/${page}`}
            class:list={[s.pageNumber, page === currentPage && s.isCurrent]}
          >
            {page}
          </a>
        </li>
      ))
    }

    {
      nextUrl && (
        <li>
          <a href={nextUrl} class={s.next}>
            Next
          </a>
        </li>
      )
    }
  </ul>
</nav>
