---
import { Image } from '~/components/blocks/Image';
import { InDepthCtaBlock } from '~/components/blocks/InDepthCtaBlock';
import { InternalVideo } from '~/components/blocks/InternalVideo';
import { Layout } from '~/layouts/Layout';
import { Numbers } from '~/components/numbers/Numbers';
import { NumbersBlock } from '~/components/numbers/NumbersBlock';
import { Prose } from '~/components/Prose';
import { Space } from '~/components/Space';
import { Text } from '~/components/structuredText/Text';
import Head from './_sub/Head.astro';
import Recap from './_sub/Recap.astro';
import { Video } from '~/components/blocks/Video';
import { Wrapper } from '~/components/Wrapper';
import { avoidAstroTypeCheckBug, notFoundResponse } from '~/lib/notFoundResponse';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { query } from './_graphql';
import { withAllComponents } from '~/lib/datocms/structuredText';
import s from './_style.module.css';

const { slug } = Astro.params;
const variables = { slug: slug! };
const { page } = await executeQuery(Astro, query, { variables });

if (!page) {
  avoidAstroTypeCheckBug(notFoundResponse);
  return notFoundResponse();
}

const colors =
  page && [page.duotoneColor1.hex, page.duotoneColor2.hex].map((x) => x.replace(/#/, '')).join(',');
const duotone = `duotone=${colors}`;
---

<Layout additionalSeo={page.seo}>
  <div
    style={{
      '--gradient1': page.duotoneColor1.hex,
      '--gradient2': page.duotoneColor2.hex,
      '--accent': page.accentColor.hex,
    }}
  >
    <Head
      logoUrl={page.logo.url}
      image={`${page.coverImage.url}?fp-y=${page.coverImage.focalPoint.y}&fp-x=${page.coverImage.focalPoint.x}&crop=focalpoint&fit=crop&${duotone}`}
    >
      <Text data={page.title} />
    </Head>

    <div id="usecase"></div>

    <Recap>
      <Fragment slot="challenge">
        <Text data={page.challenge} />
      </Fragment>
      <Fragment slot="result">
        <Text data={page.result} />
      </Fragment>
      <Space top={2}>
        <Numbers>
          {
            page.numbers.map((number) => (
              <NumbersBlock title={number.number}>{number.label}</NumbersBlock>
            ))
          }
        </Numbers>
      </Space>
    </Recap>

    <div class={s.results}>
      <div class={s.resultsImage}>
        <img
          src={`${page.mainResultsImage.url}?${duotone}&fp-y=${page.mainResultsImage.focalPoint?.y}&crop=focalpoint&fp-x=${page.mainResultsImage.focalPoint?.x}`}
        />
      </div>
      <div class={s.resultsBlocks}>
        <div class={s.resultsTitle}>Biggest wins</div>
        {
          page.mainResults.map((res) => (
            <div class={s.resultsItem}>
              <h3>{res.title}</h3>
              <Text data={res.description} />
            </div>
          ))
        }
      </div>
    </div>

    <Wrapper>
      <div class={s.fullStory}>
        <Prose class={s.body}>
          <Text
            data={page.content}
            blockComponents={withAllComponents(page.content.blocks, {
              ImageRecord: Image,
              InDepthCtaBlockRecord: InDepthCtaBlock,
              InternalVideoRecord: InternalVideo,
              VideoRecord: Video,
            })}
          />
        </Prose>
      </div>
    </Wrapper>
  </div>
</Layout>
