---
import { Wrapper } from '~/components/Wrapper';
import { Svg } from '~/components/Svg';
import s from './style.module.css';
---

<Wrapper>
  <div class={s.root}>
    <div class={s.intro}>
      <h2 class={s.introSub}>A technology investment for your whole company</h2>
      <h3 class={s.introTitle}>
        Empower <mark>every member</mark> of your team
      </h3>
      <p class={s.introBody}>
        The headless CMS technology provides an end-to-end solution for businesses who create and
        distribute content to websites and other digital experiences at scale.
      </p>
    </div>
    <div class={s.picker}>
      <a class={s.personas} href="/team/best-cms-for-developers">
        <div class={s.personasImage}>
          <Svg name="svg/illustrations/developers-2" />
        </div>
        <h6 class={s.personasTitle}>For developers</h6>
        <div class={s.personasBody}>
          Your business needs a reliable and future-proof infrastructure
        </div>
        <div class={s.personasLink}>Learn more →</div>
      </a>

      <a class={s.personas} href="/team/cms-digital-marketing">
        <div class={s.personasImage}>
          <Svg name="svg/illustrations/marketers" />
        </div>
        <h6 class={s.personasTitle}>For digital marketers</h6>
        <div class={s.personasBody}>
          Solve complex strategic goals with technology that empowers your team
        </div>
        <div class={s.personasLink}>Learn more →</div>
      </a>

      <a class={s.personas} href="/team/content-creators">
        <div class={s.personasImage}>
          <Svg name="svg/illustrations/content-editors2" />
        </div>
        <h6 class={s.personasTitle}>For content editors</h6>
        <div class={s.personasBody}>
          Automate SEO and manage content on multiple sites without filing an IT ticket
        </div>
        <div class={s.personasLink}>Learn more →</div>
      </a>
    </div>
  </div>
</Wrapper>
