---
import s from './style.module.css';
---

<div class={s.wrapper}>
  <svg class={s.connector} viewBox="0 0 900 200" preserveAspectRatio="none" aria-hidden="true">
    <path class={s.path} d="M 150 0 Q 300 -65 450 0"></path>
    <path class={s.path} d="M 450 200 Q 600 265 750 200"></path>
  </svg>
  <ol class={s.steps}>
    <slot />
  </ol>
</div>
