---
import s from './style.module.css';

type Props = {
  number: string;
  title: string;
};

const { number, title } = Astro.props;
---

<li class={s.step}>
  <div class={s.stepNumber}>{number}</div>
  <div class={s.stepTitle}>{title}</div>
  <div class={s.stepContent}><slot /></div>
</li>
