---
import s from './_style.module.css';

type Props = {
  number: string;
  title: string;
};
---

<li class={s.step}>
  <div class={s.stepNumber}>{Astro.props.number}</div>
  <div class={s.stepTitle}>{Astro.props.title}</div>
  <div class={s.stepContent}><slot /></div>
</li>
