---
import s from './_style.module.css';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { notFoundResponse, avoidAstroTypeCheckBug } from '~/lib/notFoundResponse';
import { query } from './_graphql';
import { render as toPlainText } from 'datocms-structured-text-to-plain-text';
import { Layout } from '~/layouts/Layout';
import { Hero } from '~/components/Hero';
import { Space } from '~/components/Space';
import { LogosBar } from '~/components/LogosBar';
import { QuotesCarousel } from '~/components/quote/QuotesCarousel';
import Benefit from './_Benefit.astro';
import { InterstitialTitle } from '~/components/InterstitialTitle';
import { Wrapper } from '~/components/Wrapper';
import { Button } from '~/components/Button';
import Step from './_Step.astro';
import { Form } from './_Form';
import { buildUrlForPartner } from '~/lib/datocms/gqlUrlBuilder/partner';

const { partnerTestimonials, page } = await executeQuery(Astro, query);

if (!page) {
  avoidAstroTypeCheckBug(notFoundResponse);
  return notFoundResponse();
}

const shortPartnerTestimonials = partnerTestimonials.filter(
  (partnerTestimonial) => toPlainText(partnerTestimonial.quote)!.length < 230,
);
---

<Layout noFinalCta seo={[]}>
  <Fragment slot="head">
    <title>Special pricing for agencies - DatoCMS</title>
  </Fragment>

  <Hero seoAnalysis={{ keyword: 'agencies', synonyms: '', relatedKeywords: [] }}>
    <Fragment slot="kicker">DatoCMS Agency Partner Program</Fragment>
    <Fragment slot="title">Become a <mark>Partner</mark></Fragment>
    <Fragment slot="subtitle">
      Agency-specific plans <b>from €39/month</b>. No sales targets. No reselling requirements. No
      BS. Just real benefits including 30% off for your clients and free access to every project you
      manage.
    </Fragment>
    <div class={s.heroCta}>
      <Button as="a" href="#partner-form" p="big">Become a Partner</Button>
    </div>
  </Hero>

  <Space top={1} bottom={1}>
    <LogosBar
      title="250+ happy Partners in 50+ Countries"
      clients={page.highlightedPartners.slice(0, 7).map((partner) => ({
        href: buildUrlForPartner(partner),
        imageUrl: partner.logo.url,
        alt: partner.logo.alt,
      }))}
    />
  </Space>

  <div class={s.benefitsSection}>
    <InterstitialTitle style="two">
      Partnerships done right

      <Fragment slot="below">
        <Space top={1}>
          DatoCMS was born out of an agency. It&apos;s only natural that our partner program
          incorporates all the essential elements to support the success of your agency.
        </Space>
      </Fragment>
    </InterstitialTitle>

    <Wrapper>
      <div class={s.benefits}>
        <Benefit title="💰 Special plans and deals">
          Custom plans to get you started without surprises, and a 30% discount on the Professional
          plan for your clients.
        </Benefit>

        <Benefit title="🎁 Discounts for your clients">
          Enable special plans on your clients&apos; accounts{' '}
          <a
            href="/docs/agency-partner-program/partners-dashboard#enabling-special-plans-to-clients"
          >
            directly from your dashboard
          </a>
          , no need to ask us.
        </Benefit>

        <Benefit title="🔑 Full access to your clients' projects">
          Give your team{' '}
          <a
            href="/docs/agency-partner-program/partners-dashboard#automatic-access-to-your-clients-projects"
          >
            predefined access to all client projects</a
          > without any extra collaborator seats.
        </Benefit>

        <Benefit title="🧙‍♂️ Dedicated partner manager">
          Direct access to our Partner Team for you and your clients, with constant updates and
          support.
        </Benefit>

        <Benefit title="🔖 Dedicated partner listing">
          Get listed on our <a href="/partners">Partners page</a> with your projects and co-marketing
          content so teams looking for development help can find you.
          <div class={s.benefitLink}><a href="/partners">Explore our partner listings →</a></div>
        </Benefit>

        <Benefit title="🫶 Co-marketing">
          We&apos;ll promote your work through <a href="/customers">case studies</a>, articles, and
          other collaborations. We also LOVE to talk to you about your work.
          <div class={s.benefitLink}>
            <a href="/casual-chats">Explore our partner chats →</a>
          </div>
        </Benefit>
      </div>
    </Wrapper>
  </div>

  <Space top={1} bottom={1}>
    <QuotesCarousel quotes={shortPartnerTestimonials} />
  </Space>

  <div class={s.agencyPlans}>
    <Wrapper>
      <h2 class={s.agencyPlansTitle}>Agency partners unlock plans starting at just €39/month</h2>
      <p class={s.agencyPlansSubtitle}>
        Yeah, that&apos;s not a typo. We designed our partnership program to help you find new
        clients, gain more flexibility, and receive assistance in implementing projects with
        DatoCMS.
      </p>
      <Button as="a" href="#partner-form" p="big">Become a Partner</Button>
    </Wrapper>
  </div>

  <Space top={2} bottom={2}>
    <InterstitialTitle style="two">
      Getting started is easy

      <Fragment slot="below">
        <Space top={1}>
          Join our Partner Program and start your journey to become a DatoCMS Partner today.
        </Space>
      </Fragment>
    </InterstitialTitle>

    <Wrapper>
      <div class={s.stepsWrapper}>
        <svg
          class={s.stepsConnector}
          viewBox="0 0 900 200"
          preserveAspectRatio="none"
          aria-hidden="true"
        >
          <path class={s.stepsPath} d="M 150 0 Q 300 -65 450 0"></path>
          <path class={s.stepsPath} d="M 450 200 Q 600 265 750 200"></path>
        </svg>
        <ol class={s.steps}>
          <Step number="01" title="Submit the form">
            Fill in the form below to share some details, and tell us a bit about who you are and
            what you're working on.
          </Step>
          <Step number="02" title="Complete the enrollment">
            While you can already enjoy the benefits, activate a paid plan and fill out your public
            Partner profile for us to get you listed.
          </Step>
          <Step number="03" title="It's official">
            Utilize the support of our partnership and grow your business. We'll reach out about
            co-marketing opportunities all the time!
          </Step>
        </ol>
      </div>
    </Wrapper>
  </Space>

  <Space top={3}>
    <InterstitialTitle>
      <mark>Let&apos;s talk!</mark>

      <Fragment slot="below">
        <Space top={1}> Fill in the form, and we&apos;ll be in touch! </Space>
      </Fragment>
    </InterstitialTitle>
  </Space>

  <div id="partner-form" class={s.form}>
    <Form client:load />
  </div>
</Layout>
