---
import Wrapper from '~/components/Wrapper/ReactComponent';
import { Carousel } from '~/components/Carousel';
import { Hero } from '~/components/Hero';
import { Layout } from '~/layouts/Layout';
import { PluginCard } from '../_sub/PluginCard';
import { PluginSearchBox } from '../_sub/PluginSearchBox';
import { Space } from '~/components/Space';
import { Svg } from '~/components/Svg';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { notFoundResponse, avoidAstroTypeCheckBug } from '~/lib/notFoundResponse';
import { query } from './_graphql';
import s from './_style.module.css';
import { DraftModeQueryListener } from '~/components/DraftModeQueryListener';

const { page, collections, meta, popular, latest } = await executeQuery(Astro, query);

if (!page || popular.length === 0 || latest.length === 0 || collections.length === 0) {
  avoidAstroTypeCheckBug(notFoundResponse);
  return notFoundResponse();
}
---

<Layout noFinalCta seo={page.seo}>
  <Hero>
    <Fragment slot="title">Community Plugins</Fragment>
    <Fragment slot="subtitle">
      Easily expand and customize the capabilities of DatoCMS with community plugins
    </Fragment>
  </Hero>

  <Wrapper>
    <PluginSearchBox />

    <h2 class={s.title}>Editors' Choice</h2>
    <div class={s.highlighted}>
      {page.highlighted.map((item) => <PluginCard plugin={item} />)}
    </div>

    <Space top={2}>
      <div class={s.sectionTitleWrapper}>
        <h2 class={s.title}>Most popular</h2>
        <a href="/marketplace/plugins/browse" class={s.browseAll}>
          <span>View all ({meta.count})</span>
          <Svg name="icons/regular/arrow-right" />
        </a>
      </div>

      <div class={s.popular}>
        {
          popular.map((item) => (
            <PluginCard plugin={item} orientation="horizontal" boxed={false} size="small" />
          ))
        }
      </div>
    </Space>

    {
      collections.map((collection) => (
        <Space top={2}>
          <h2 class={s.title}>{collection.title}</h2>
          <div class={s.carouselWrapper}>
            <Carousel buttonsY="50%" class={s.carousel}>
              {collection.plugins.map((item) => (
                <div class={s.cardWrapper}>
                  <PluginCard plugin={item} />
                </div>
              ))}
            </Carousel>
          </div>
        </Space>
      ))
    }

    <Space top={2}>
      <h2 class={s.title}>Just released</h2>
      <div class={s.latest}>
        {
          latest.map((item) => (
            <PluginCard plugin={item} orientation="horizontal" boxed={false} size="small" />
          ))
        }
      </div>
    </Space>
  </Wrapper>

  <DraftModeQueryListener query={query} />
</Layout>

<script>
  const urlParams = new URLSearchParams(window.location.search);
  const projectDomain = urlParams.get('projectDomain');
  const projectEnvironment = urlParams.get('projectEnvironment');

  if (projectDomain) {
    sessionStorage.setItem(
      'marketplaceProject',
      JSON.stringify({ domain: projectDomain, environment: projectEnvironment }),
    );
  }
</script>
