---
import { GithubNpmBadgeFragment } from './graphql';
import { readFragment, type FragmentOf } from 'gql.tada';
import { GITHUB_LOGO, NPM_LOGO, makeBadge, renderBadgeHtml, type BadgeData } from './badgeUtils';
import s from './style.module.css';

interface Props {
  block: FragmentOf<typeof GithubNpmBadgeFragment>;
  inline?: boolean;
}

const { block: maskedBlock, inline = false } = Astro.props;
const block = readFragment(GithubNpmBadgeFragment, maskedBlock);

function getRepoName(url: string): string {
  try {
    // More intelligent Github URL handling to make shorter badges for long URLs
    const segments = new URL(url).pathname.split('/').filter(Boolean);
    const repoName = segments.slice(0, 2).join('/');
    console.log('segmments', segments);
    const lastSegment = segments[segments.length - 1];

    // If it's a long repo name (like from our monorepos), shorten the middle
    // e.g. https://github.com/datocms/react-datocms/blob/master/docs/image.md shows datocms/react-datocms/.../image.md
    // Only do this if the path is longer than owner + repo, and only if the end of the path isn't the same as the repo
    if (segments.length > 2 && lastSegment !== segments[1]) {
      return `${repoName}/.../${lastSegment}`;
    }

    // Otherwise just return the owner + repo
    return repoName;
  } catch {
    return url;
  }
}

function getPackageName(url: string): string {
  try {
    const pathname = new URL(url).pathname;
    const match = pathname.match(/\/package\/(.+?)(?:\/)?$/);
    return match?.[1] ?? pathname;
  } catch {
    return url;
  }
}

const badges: BadgeData[] = [];

if (block.githubUrl) {
  badges.push({
    url: block.githubUrl,
    ...makeBadge('GitHub', getRepoName(block.githubUrl), '#007ec6', GITHUB_LOGO),
  });
}
if (block.npmUrl) {
  badges.push({
    url: block.npmUrl,
    ...makeBadge('NPM', getPackageName(block.npmUrl), '#e05d44', NPM_LOGO),
  });
}
---

{
  inline ? (
    <span class={s.badgesInline} data-datocms-content-link-boundary>
      {badges.map((badge) => (
        <Fragment set:html={renderBadgeHtml(badge)} />
      ))}
    </span>
  ) : (
    <p class={s.badges} data-datocms-content-link-boundary>
      {badges.map((badge) => (
        <Fragment set:html={renderBadgeHtml(badge)} />
      ))}
    </p>
  )
}
