---
import s from './style.module.css';

type Props = {
  title?: string;
  url?: string;
};

const { title = 'Acme Inc. - DatoCMS', url } = Astro.props;
---

<div class={s.root}>
  <div class={s.bar}>
    <div class={s.barButtons}>
      <div class={s.barButton}></div>
      <div class={s.barButton}></div>
      <div class={s.barButton}></div>
    </div>
    <div class={s.tab}>{title}</div>
  </div>
  {url && <div class={s.address}>{url}</div>}
  <slot />
</div>
