---
import s from './style.module.css';
import { QuestionAnswerFragment } from './graphql';
import { readFragment, type FragmentOf } from 'gql.tada';
import { Text } from '~/components/structuredText/Text';

interface Props {
  block: FragmentOf<typeof QuestionAnswerFragment>;
}

const { block: maskedBlock } = Astro.props;

const block = readFragment(QuestionAnswerFragment, maskedBlock);
---

<div class={s.qa}>
  <div class={s.qaQuestion}>
    <Text data={block.question} />
  </div>
  <div class={s.qaAnswer}>
    <Text data={block.answer} />
  </div>
</div>
