---
import Wrapper from '~/components/Wrapper/ReactComponent';
import { Button } from '~/components/Button';
import { Carousel } from '~/components/Carousel';
import { Image } from '~/components/blocks/Image';
import { InternalVideo } from '~/components/blocks/InternalVideo';
import { Layout } from '~/layouts/Layout';
import { Card } from '~/components/Card';
import { Prose } from '~/components/Prose';
import { ResponsiveImage } from '~/components/ResponsiveImage';
import { Space } from '~/components/Space';
import { Svg } from '~/components/Svg';
import { ensureValidStructuredTextProps } from '@datocms/astro';
import { Text } from '~/components/structuredText/Text';
import { executeQuery } from '~/lib/datocms/executeQuery';
import { notFoundResponse, avoidAstroTypeCheckBug } from '~/lib/notFoundResponse';
import { query } from './_graphql';
import s from './_style.module.css';
import { DraftModeQueryListener } from '~/components/DraftModeQueryListener';
import { defaultLinkToRecordComponents } from '~/components/linkToRecords';
import { defaultInlineRecordComponents } from '~/components/inlineRecords';
import { Announce } from '~/components/pluginToolkit/Announce';
import { VideoPlayer } from '~/components/VideoPlayer';
import { isVideo } from '~/components/VideoPlayer/graphql';
import { overrideSeo, seoPageTitle, seoShareTitle, seoTwitterCard } from '~/lib/datocms/seo';

const variables = { slug: Astro.params.slug! };
const { page } = await executeQuery(Astro, query, { variables });

if (!page) {
  avoidAstroTypeCheckBug(notFoundResponse);
  return notFoundResponse();
}

const params = new URLSearchParams({
  recipe_url: page.recipe.url,
  recipe_title: page.title,
}).toString();
const installUrl = `https://dashboard.datocms.com/projects/redirect-to-project?path=/configuration/recipes/import?${params}`;
---

<Layout
  noFinalCta
  seo={overrideSeo(
    page.seo,
    seoPageTitle(`${page.title} — Schema Recipes — DatoCMS`),
    seoShareTitle(`Schema Recipe for ${page.title}`),
    seoTwitterCard('summary_large_image'),
  )}
>
  <Space top={2}>
    <Wrapper>
      <div class={s.grid}>
        <div class={s.content}>
          <div class={s.titleWrapper}>
            <h1 class={s.title}>{page.title}</h1>
          </div>
          <h3 class={s.subtitle}>{page.cardDescription}</h3>
          <Space top={1}>
            <div class={s.ctaMobile}>
              <Button as="a" href={installUrl} target="_blank" fs="small">
                Import recipe into project
              </Button>
            </div>
          </Space>

          {
            page.featuredImage?.responsiveImage && (
              <div class={s.previewVisual}>
                <div class={s.previewVisualImage}>
                  <ResponsiveImage data={page.featuredImage.responsiveImage} />
                </div>
              </div>
            )
          }

          {
            page.featuredImage && isVideo(page.featuredImage) && (
              <div class={s.previewVisual}>
                <div class={s.previewVisualVideo}>
                  <VideoPlayer data={page.featuredImage} />
                </div>
              </div>
            )
          }

          <Announce href="/marketplace/plugins/i/datocms-plugin-schema-import-export">
            <strong>Want to create your own recipes?</strong> Install the "Schema Import/Export" plugin,
            export one or more models/block models as JSON files, and then reimport them into another
            DatoCMS project!
          </Announce>

          <Space top={1}>
            <Prose>
              <Text
                {...ensureValidStructuredTextProps({
                  data: page.content,
                  blockComponents: {
                    ImageRecord: Image,
                    InternalVideoRecord: InternalVideo,
                  },
                  linkToRecordComponents: defaultLinkToRecordComponents,
                  inlineRecordComponents: defaultInlineRecordComponents,
                })}
              />
            </Prose>
          </Space>
        </div>

        <aside class={s.aside}>
          <div class={s.asideContentDesktop}>
            <Card title={page.title} background="azure">
              <Fragment slot="image">
                <ResponsiveImage data={page.cardImage.responsiveImage} />
              </Fragment>
              {page.cardDescription}
              <Fragment slot="below">
                <div class={s.cardCta}>
                  <Button as="a" href={installUrl} target="_blank" fs="small" block>
                    Import recipe into project
                  </Button>
                </div>
              </Fragment>
            </Card>

            <div class={s.publisher}>
              <h4>Publisher</h4>
              <article>
                <div class={s.publisherIcon}>
                  <Svg name="svg/datocms/icon/color/color_d_icon" />
                </div>
                <p>DatoCMS</p>
              </article>
            </div>
          </div>
        </aside>
      </div>
    </Wrapper>
  </Space>

  <DraftModeQueryListener query={query} variables={variables} />
</Layout>
