---
import { Wrapper } from '~/components/Wrapper';
import { Svg } from '~/components/Svg';
import s from './style.module.css';

type Card = {
  logo: string;
  name: string;
  description: string;
  href: string;
};

type Props = {
  title?: string;
  cards: Card[];
  plainLogos?: string[];
};

const { title, cards = [], plainLogos = [] } = Astro.props;

const cardItems = cards.slice(0, 6);
const logoRow = plainLogos.slice(0, 6);
---

<Wrapper>
  <div class={s.root} data-datocms-noindex>
    {title && <div class={s.title}>{title}</div>}

    <div class={s.cardsGrid}>
      {
        cardItems.map((c) => (
          <article class={s.card}>
            <div class={s.cardLogo}>
              <Svg name={c.logo} />
            </div>
            <h4 class={s.cardTitle}>{c.name}</h4>
            <p class={s.cardDesc}>{c.description}</p>
            <a class={s.cardLink} href={c.href}>
              See Details
            </a>
          </article>
        ))
      }
    </div>

    <div class={s.justLogosRow} aria-hidden="true">
      {
        logoRow.map((name) => (
          <div class={s.logoItem}>
            <Svg name={name} />
          </div>
        ))
      }
    </div>
  </div>
</Wrapper>
